@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    
    /*Images/infographics should be stacked in the phone version*/
    
    body {
        font-family:'EB Garamond', serif;
    }
    
    .leadimage {
        width:100%;
    }
    
    #subhead {
        font-family:'arial';
    }
    
    #date {
        font-family:'arial';
    }
    
    #author {
        font-family:'arial';
    }
    
    #headline {
        text-align:center;
        /*Fix spacing here*/
    }
    
    h3 {
        font-weight:bold;
    }
}

@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
}

@media (min-width: 1200px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

