#header {
    background-color:#A19B9F;
    color:white;
    font-family:"american typewriter";
}

#contact {
    background-color:white;
}

button {
    background-color:#3F67A8;
    color:white;
}

.container-fluid {
    background-color:#3F67A8;
    color:white;
    font-family:"american typewriter";
}

.nav-item {
    background-color:#87C093;
}

#footer {
    background-color:#87C093;
    color=black;
    padding: 20px 0px 20px 20px;
}

h3 {
    font-weight:500;
}

#title {
    
}

#company {
    
}

#date {
    
}

/*xsmall*/
@media {
        h2 {
        font-size: 20px;
    }
}

/*small*/
@media (min-width: 576px) {
    h2 {
        font-size: 30px;
    }
}

/*medium*/
@media (min-width: 768px) {
    h2 {
        font-size: 45px;
    }
}

/*large*/
@media (min-width: 992px) {
    h2 {
        font-size: 60px;
    }
}

/*xlarge*/
@media (min-width: 1200px) {
    h2 {
        font-size: 72px;
    }
}

/*xxlarge*/
@media (min-width: 1400px) {
    h2 {
        font-size: 100px;
    }
}