@media {
    #header {
        background-color:#A19B9F;
        color:white;
        font-family:'Courier Prime';
    }

    #info {
        padding-top:50px;
        text-align:center;
    }

    #headshot {
        width:200px;
        border-radius:500px;
        border:none;
        margin:30px 0px 0px 75px;
    }

    #contact {
        background-color:white;
        text-align:center;
    }

    #button {
        background-color:#3F67A8;
        border-radius:10px;
        margin:10px 0px 10px 0px;
        padding:5px 20px 5px 20px;
        border:none;
        text-transform:uppercase;
    }

    #button a {
        color:white;
        text-decoration:none;
    }
    
    #button:hover {
        background-color:#234276;
    }

    .container-fluid {
        background-color:#3F67A8;
        color:white;
        font-family:'Courier Prime';
        letter-spacing:-1px;
    }

    .nav {
        background-color:#87C093;
    }

    .nav a {
        color:black;
        font-family:'Courier Prime';
        text-transform:uppercase;
    }
    
    .nav a:hover {
        color:#3F67A8;
    }

    #footer {
        background-color:#87C093;
        color:black;
        padding:20px 0px 20px 20px;
    }

    h3 {
        padding-top:20px;
        font-weight:bolder;
        text-decoration-line:underline;
        text-decoration-color:#87C093;
    }

    .title {
        margin-bottom:3px;
        font-weight:bolder;
        text-transform:uppercase;
    }

    .company {
        margin-bottom:3px; 
        font-weight:bolder;
    }

    .date {
        margin-bottom:10px;
        font-weight:bolder;
    }   
    
    .description {
        margin-bottom:30px;
    }
    
}

/*Tablet-Only Styles*/
@media (min-width:576px) {
    #headshot {
        margin:20px 0px 20px 80px;
    }
    
    .date {
        margin-bottom:30px;
    }
}

/*Desktop-Only Styles*/
@media (min-width:992px) {
    #headshot {
       margin:20px 100px 20px 200px; 
    }
    
    .title {
        margin-bottom:3px;
        font-weight:bolder;
    }

    .company {
        margin-bottom:3px; 
    }

    .date {
        margin-bottom:30px;
    }   
    
    .description {
        margin-bottom:30px;
    }
}
